<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCollapse"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navCollapse">
            <div class="navbar-nav">
                @Html.ActionLink("Be Prepared!", "Index", "Home", new { area = "" }, new { @class = "nav-item nav-link active" })
                @Html.ActionLink("Novo quiz", "Index", "Home", new { @class = "nav-item nav-link" })
                @Html.ActionLink("Acerca", "About", "Home", new { @class = "nav-item nav-link" })
                @Html.ActionLink("Contactos", "Contact", "Home", new { @class = "nav-item nav-link" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
