@using LowFidelityPrototype.Models
@model List<Pessoa>

@{
    ViewBag.Title = "BePrepared!";
}

<div class="jumbotron">
    <h1>SMEs: Be prepared for supply chain risks!</h1>
    <p class="lead">Esteja atento aos riscos! Teste os seus conhecimentos!</p>
    <hr />
    <h2 class="text-center">Colaborador Estrela</h2>
    <p class="text-center mt-3"><i class="far fa-5x fa-fw fa-user-circle"></i></p>
    <p class="text-center">@(Model.First().PrimeiroNome + " " + Model.First().UltimoNome)</p>
    <p class="text-center">@Model.First().Pontuacao Pontos</p>
</div>

<h2>Classificações</h2>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Apelido</th>
            <th scope="col">Pontuação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Pessoa p in Model)
        {
            <tr>
                <th scope="row">@p.ID</th>
                <td>@p.PrimeiroNome</td>
                <td>@p.UltimoNome</td>
                <td>@p.Pontuacao</td>
            </tr>
        }
    </tbody>
</table>